.postsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 50px;
  @media screen and (max-width: 375px) {
    grid-template-columns: 1fr;
  }
}

.filters {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  text-align: right;
  margin-bottom: 25px;

  .filtersItem {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 15px;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 16px;

    &:hover {
      background-color: lighten(#222428, 10%);
    }

    &:active {
      background-color: #667A98;
    }
  }
}