.postsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 50px;
}

.filters {
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  margin-bottom: 25px;
  margin-left: 91%;
  padding: 7px 10px;
  border-radius: 10px;
  &:hover {
    background-color: lighten(#222428, 10%);
  }
  &:active {
    background-color: #667A98;
  }
}