.header {
  background-color: #222428;
  font-size: 16px;
  padding: 10px 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  width: 100%;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .leftSide {
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: #F2F2FF;
      }
    }
    .rightSide {
      display: flex;
      gap: 48px;
      align-items: center;
      @media screen and (max-width: 375px) {
        gap: 10px;
      }
      .user {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .exit {
        cursor: pointer;

        padding: 7px 10px;
        border-radius: 7px;
        border: 1px solid inherit;
        &:hover {
          background-color: #BF5D6F;
        }
        &:active {
          background-color: red;
        }
      }
    }
  }
}

